<!DOCTYPE html>
<html class="tpl-initiative">
  {{ partial "head.html" . }} {{ partial "header.html" . }}
  <span></span>
  {{ partial "initiative/initiative_hero.html" .}}
  <span></span>

  <div class="container page-content">
    <div class="row">
      <div class="offset-md-2 col-md-8 initiative-description">
        <div class="logo-container float-end ms-4 mb-2">
          {{ if .Params.logo_link }}
          <a href="{{.Params.logo_link}}" target="_blank">
            {{end}}
            <img src="{{ .Params.image }}" alt="{{ .Params.title }} logo" />

            {{ if .Params.logo_link }}
          </a>
          {{end}}
        </div>
        {{ if eq .File.Ext "md" }}{{ partial "md-top-context.html" . }}{{ end }}
        <span></span>
        {{ block "main" .}}{{ end }}
        <span></span>
        {{ if eq .File.Ext "md" }}{{ partial "md-bot-context.html" . }}{{ end }}
      </div>
    </div>

    {{if isset .Params "blog_posts"}}
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="initiative-posts mt-1">
          <h2>From our Blog</h2>
          {{ range .Params.blog_posts }}
          <div>{{ range where $.Site.Pages "File.LogicalName" . }} {{ partial "blog/blog_list_item.html" .}}{{ end }}</div>
          {{ end }}
        </div>
      </div>
    </div>
    {{end}} {{if isset .Params "funders"}}
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="initiative-funders mt-1">
          <h2>Funders</h2>
          <div class="funder-logos">
            {{ range .Params.funders }}
            <div class="funder">
              <img src="/images/sponsors/small/{{ lower . }}-logo.png" alt="{{ . }}" />
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    {{end}}
  </div>

  <span></span>
  {{ partial "footer.html" . }}
</html>
