@import "_variables";

#dd-container .mg-forms-button,
#dd-container .mg-forms-button.disabled,
#dd-container .mg-forms-button[disabled],
#dd-container .mg-forms-button.disabled:hover,
#dd-container .mg-forms-button[disabled]:hover,
#dd-container .mg-forms-button.disabled:focus,
#dd-container .mg-forms-button[disabled]:focus,
.dtd-plugin .mg-forms-button,
.dtd-plugin .mg-forms-button.disabled,
.dtd-plugin .mg-forms-button[disabled],
.dtd-plugin .mg-forms-button.disabled:hover,
.dtd-plugin .mg-forms-button[disabled]:hover,
.dtd-plugin .mg-forms-button.disabled:focus,
.dtd-plugin .mg-forms-button[disabled]:focus,
#dd-container .mg-guidelines-button,
#dd-container .mg-guidelines-button.disabled,
#dd-container .mg-guidelines-button[disabled],
#dd-container .mg-guidelines-button.disabled:hover,
#dd-container .mg-guidelines-button[disabled]:hover,
#dd-container .mg-guidelines-button.disabled:focus,
#dd-container .mg-guidelines-button[disabled]:focus,
.dtd-plugin .mg-guidelines-button,
.dtd-plugin .mg-guidelines-button.disabled,
.dtd-plugin .mg-guidelines-button[disabled],
.dtd-plugin .mg-guidelines-button.disabled:hover,
.dtd-plugin .mg-guidelines-button[disabled]:hover,
.dtd-plugin .mg-guidelines-button.disabled:focus,
.dtd-plugin .mg-guidelines-button[disabled]:focus {
  background-color: $brand_mint !important;
  font-size: 14px !important;
  font-family: "Open Sans" !important;
  font-weight: bold !important;
  color: $brand_dark_blue !important;
  border: 0 !important;
  padding: 10px 32px !important;
}

#dd-container .lets-check,
#dd-container .lets-check.disabled,
#dd-container .lets-check[disabled],
#dd-container .lets-check.disabled:hover,
#dd-container .lets-check[disabled]:hover,
#dd-container .lets-check.disabled:focus,
#dd-container .lets-check[disabled]:focus,
.dtd-plugin .lets-check,
.dtd-plugin .lets-check.disabled,
.dtd-plugin .lets-check[disabled],
.dtd-plugin .lets-check.disabled:hover,
.dtd-plugin .lets-check[disabled]:hover,
.dtd-plugin .lets-check.disabled:focus,
.dtd-plugin .lets-check[disabled]:focus {
  background-color: $brand_dark_blue !important;
  font-size: 14px !important;
  font-family: "Open Sans" !important;
  font-weight: bold !important;
  color: #fff !important;
  border: 0 !important;
  padding: 10px 32px !important;
}
