/* Keep styles here that are specific to overriding the theme */

@import "_variables";

//
a {
  color: $primary_color !important;

  text-decoration-color: $brand_mint;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $brand_dark_blue;
  }
}

.btn {
  &:hover {
    text-decoration: none;
  }
}

.btn-primary {
  background-color: $primary_color !important;
  border-color: $primary_color !important;
  color: #fff !important;
}

.btn-outline-primary {
  border-color: $primary_color !important;
  color: $primary_color !important;

  &:hover {
    background-color: $primary_color !important;
    color: #fff !important;
  }
}

.text-primary {
  color: $primary_color !important;
}

.btn-scroll-top {
  background-color: $primary_color !important;

  i {
    color: #fff;
  }
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-item:hover > .nav-link,
.dropdown-item:hover,
.dropdown-item:focus {
  color: $primary_color !important;
}

.btn-mint {
  background-color: $brand_mint !important;
  color: $brand_dark_blue !important;
  border-color: $brand_mint;
  font-weight: bold !important;
  font-family: "Open Sans";
  border: 1px solid transparent;
  &:hover {
    border-color: $brand_dark_blue !important;
  }
  // @todo Hover color for mint buttons
}

footer {
  a {
    color: #fff !important;
  }
}

:root {
  --font-family-sans-serif: "Open Sans", sans-serif;
}

body,
.tooltip,
.popover {
  font-family: "Open Sans", sans-serif;
}

.bg-dark {
  background-color: #051735 !important;
}

@media (min-width: 768px) {
  .pt-md-8 {
    padding-top: 8rem !important;
  }
}

.pt-10 {
  padding-top: 1;
}

.pt-7 {
  padding-top: 7rem !important;
}
.pt-8 {
  padding-top: 8rem !important;
}
.pt-9 {
  padding-top: 9rem !important;
}
.pt-10 {
  padding-top: 10rem !important;
}

.accordion-button {
  color: #082659 !important;
  font-size: 20px;
  line-height: 34px;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3e%3cpath fill-rule='evenodd' d='M7.999.667c.368 0 .667.298.667.667v6h6c.368 0 .667.298.667.667s-.299.667-.667.667h-6v6c0 .368-.298.667-.667.667s-.667-.299-.667-.667v-6h-6C.964 8.667.666 8.369.666 8s.298-.667.667-.667h6v-6c0-.368.298-.667.667-.667z' fill='%2314dfb4'/%3e%3c/svg%3e") !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3e%3cpath fill-rule='evenodd' d='M.666 8c0-.368.298-.667.667-.667v1.333C.964 8.666.666 8.368.666 8zm14 0v.667H1.333V7.333h13.333V8zm0 0v.667c.368 0 .667-.298.667-.667s-.299-.667-.667-.667V8z' fill='%2314dfb4'/%3e%3c/svg%3e") !important;
}

.btn > [class^="ci-"],
.btn > [class*=" ci-"] {
  font-size: 1em;
}
