/* Keep styles here that are specific to overriding the theme */

@import "_variables";

//
a {
  color: $primary_color !important;

  text-decoration-color: $brand_mint;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $brand_dark_blue;
  }
}

.btn-primary {
  background-color: $primary_color !important;
  border-color: $primary_color !important;
  color: #fff !important;
}

.btn-outline-primary {
  border-color: $primary_color !important;
  color: $primary_color !important;

  &:hover {
    background-color: $primary_color !important;
    color: #fff !important;
  }
}

.text-primary {
  color: $primary_color !important;
}

.btn-scroll-top {
  background-color: $primary_color !important;

  i {
    color: #fff;
  }
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-item:hover > .nav-link,
.dropdown-item:hover,
.dropdown-item:focus {
  color: $primary_color !important;
}

.btn-mint {
  background-color: $brand_mint !important;
  color: $brand_dark_blue !important;
  border-color: $brand_mint;
  font-weight: bold !important;
  font-family: "Open Sans";
  border: 1px solid transparent;
  &:hover {
    border-color: $brand_dark_blue !important;
  }
  // @todo Hover color for mint buttons
}

footer {
  a {
    color: #fff !important;
  }
}

:root {
  --font-family-sans-serif: "Open Sans", sans-serif;
}

body,
.tooltip,
.popover {
  font-family: "Open Sans", sans-serif;
}

.bg-dark {
  background-color: #051735 !important;
}

@media (min-width: 768px) {
  .pt-md-8 {
    padding-top: 8rem !important;
  }
}

.pt-10 {
  padding-top: 1;
}

.pt-7 {
  padding-top: 7rem !important;
}
.pt-8 {
  padding-top: 8rem !important;
}
.pt-9 {
  padding-top: 9rem !important;
}
.pt-10 {
  padding-top: 10rem !important;
}

[class^="accordion"] .accordion-indicator::before,
[class^="accordion"] .accordion-indicator::after,
[class*=" accordion"] .accordion-indicator::before,
[class*=" accordion"] .accordion-indicator::after {
  top: 21px;
  color: $brand_mint;
}
