@import "_variables";
@import "_theme-overrides";
@import "_doublethedonation-overrides";
@import "newsletter";
@import "page";
@import "post";
@import "chroma-code-block";

body {
  color: $primary_color !important;
}

#footer-logo {
  max-width: 300px;
  // width: 100%;
  max-height: 55px;
  margin-bottom: 5px;
}

.footer-text a {
  text-decoration: underline;
  text-decoration-color: $brand_mint;
  text-underline-offset: 2px;
}
.footer-text a:hover {
  color: $brand_mint !important;
}

.btn-large {
  font-size: 18px;
}

.logo-container {
  max-width: 200px;
  max-height: 200px;

  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
  }
}

.home-initiatives {
  .logo-image {
    max-height: 120px;
  }
}

.text-primary-knockout {
  color: $brand_dark_blue;
  padding: 3px 0px 3px 0px;
  display: inline-block;
  white-space: nowrap;
}

.initiative_list_item {
  align-items: center;
  .initiative-status {
    text-align: center;
    display: flex;
    align-items: center;

    &__item {
      white-space: nowrap;
      width: 100%;
    }
  }
  &__meta {
  }

  &__blogLanding {
    margin-bottom: 20px;

    h2,p {
      margin-bottom: 0.5rem;
    }
  }
}

.initiative-description {
  ol {
    padding-left: 17px;
  }
}

@media screen and (min-width: 768px) {
  .initiative_list_item__meta {
    display: flex;
  }
  .initiative_list_item .initiative-status {
    padding-left: 25px;
    line-height: 21px;
    text-align: left !important;
  }
}

@media screen and (max-width: 767.98px) {
  .initiative-status {
    padding-top: 20px;
  }
}

@media screen and (max-width: 991.98px) {
  #prossimoNavbar {
    box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
  }
}

.placeholder {
  font-weight: bold;
  color: magenta;
}

.key-value-table {
  th {
    text-align: right;
    padding-right: 5px;
    white-space: nowrap;
    vertical-align: top;
  }

  & + p {
    margin-top: 24px;
  }

  td {
    vertical-align: top;
  }
}

#home-hero {
  .btn {
    width: 320px;
    position: relative;

    i {
      position: absolute;
      left: 18px;
      top: 16px;
    }
  }
}

.sponsor-highlight {
  background: #e8fcf8;
  text-align: center;
  padding: 20px 10px 10px;
  margin: 10px 0 20px;

  h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  p {
    font-size: 20px;
  }
}

pre.code-block {
  margin: 10px 0 20px;
  border-radius: 10px;
  background: rgb(238,238,238);
}
.highlight {
  margin: 10px 0 20px;
  .chroma {
    border-radius: 10px;
    background: rgb(238,238,238);
  }
}

#donate-via-paypal {
  background: #e8fcf8;
  padding: 10px;

  h2 {
    text-align: center;
  }
  #paypal-button-container .paypal-buttons {
    margin: 20px auto;
    display: block;
  }
}

#copyright-line {
  background-color: #292c37;
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $brand_mint;
    }
  }
}

.back-to-top-btn {
  &:hover {
    .btn-scroll-top {
      background-color: $brand_mint !important;
      & > .btn-scroll-top-icon {
        color: $brand_dark_blue !important;
      }
    }
  }
}

label.checkbox {
  input[type="checkbox"] + span {
    margin-left: 10px;
  }
}

@media screen and (max-width: 525px) {
  #see-if-organization-matches {
    white-space: normal !important;
  }
}

.navbar-floating {
  z-index: 1030;
}


a[name] {
  scroll-margin-top: 110px;
}

code {
  color: #082659;
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
  code {
    color: #000;
  }
}


/* Autoanchors */

a.autoanchor {
  text-decoration: none;
  color: grey;
  font-size: 0.8em;
  margin-left: 0.5em;
  background-image: url(/images/link-solid.svg);
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  height: 24px;
  width: 24px;
  transform: translateY(2px);
}

.scroll-offset-for-sticky-nav {
  scroll-margin-top: 100px;
}

html[dir="rtl"] a.autoanchor {
  margin-right: 0.5em;
  margin-left: 0;
}

.page-content {
  h1,
  h2,
  h3 {
    //same selector as js for anchors
    .autoanchor {
      display: none;
    }
    &:hover {
      .autoanchor {
        display: inline-block !important;
      }
    }
  }
}


.home-headline {
  font-size: 33px;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
 a {
  text-decoration: none;
  color: #000 !important;

  &:hover {
    color: $brand_dark_blue !important;
  }
 }
}

.home-eyebrow {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  // border-bottom: 1px solid #000;
  margin-bottom: 30px;

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background: $brand_mint;
    display: block;
    position: relative;
    top: -10px;
    z-index: 1;
  }

 a, span {
  text-decoration: none;
  color: #000 !important;
  color: $brand_dark_blue !important;
  display: inline-block;
  background: #fff;
  padding: 0 10px 0 0;
  z-index: 2;
  letter-spacing: .75px;
  position: relative;
 }
 a:hover {
  color: $brand_dark_blue !important;
  text-decoration: underline;
  }
}

#initiatives .home-eyebrow span {


}

.blog-title-link {
  font-size: 24px;
    text-decoration: none;
    color: #000 !important;


    &:hover {
      color: $brand_dark_blue !important;
    }
}
.read-more-link {
    color: #000 !important;

    &:hover {
      color: $brand_dark_blue !important;
    }
}

#blog {
  .blog-title-link {
    font-weight: normal;
    font-size: 22px;
    line-height: 1.4!important;
    display: block;
  }
}

.blog-date {
  color: #888;
  font-size: 14px;
}

.home-h3 {
  font-weight: 900;

}

@media (min-width: 768px) {
  .pr-md-1 {
    padding-right: 0.25rem !important;
  }
  .pl-md-1 {
    padding-left: 0.25rem !important;
  }
  .pr-md-2 {
    padding-right: 0.5rem !important;
  }
  .pl-md-2 {
    padding-left: 0.5rem !important;
  }
  .pr-md-3 {
    padding-right: 1rem !important;
  }
  .pr-md-4 {
    padding-right: 1.5rem !important;
  }
  .pr-md-5 {
    padding-right: 3rem !important;
  }
  .pl-md-3 {
    padding-left: 1rem !important;
  }
  .pl-md-4 {
    padding-left: 1.5rem !important;
  }
}

.code-block {
  color: rgb(60,60,60);
}

.code-red {
  color: rgb(254,16,22);
}

.code-blue {
  color: rgb(18,75,192);
}

.code-green {
  color: rgb(96,158,76);
}

#site-banner {
  a {
    display: block;
    text-align: center;
    padding: 10px 0;
    color: #14dfb4 !important;
    font-weight: bold;
    background-color: #082659;
    &:hover {
      background-color: darken(#082659, 10%);
      text-decoration: none;
    }
  }
}


div[data-netlify-site-id] {
  /* Netlify Collaborate Drawer */
  display: none;
  pointer-events: none;
}