@import "_variables";
@import "_theme-overrides";
@import "_doublethedonation-overrides";
@import "newsletter";
@import "page";
@import "post";

body {
  color: $primary_color !important;
}

#footer-logo {
  max-width: 300px;
  // width: 100%;
  max-height: 55px;
  margin-bottom: 5px;
}

.btn-large {
  font-size: 18px;
}

.logo-container {
  width: 200px;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.text-primary-knockout {
  color: $brand_mint;
  background: $brand_dark_blue;
  padding: 5px;
  display: inline-block;
  white-space: nowrap;
  transform: rotate(-4deg) translateY(-10px);
}

.initiative_list_item {
  .initiative-status {
    text-align: center;
    display: flex;
    align-items: center;

    &__item {
      white-space: nowrap;
    }
  }
  &__meta {
  }

  &__blogLanding {
    margin-bottom: 20px;
  }
}

.initiative-description {
  ol {
    padding-left: 17px;
  }
}

@media screen and (min-width: 768px) {
  .initiative_list_item__meta {
    display: flex;
  }
  .initiative_list_item .initiative-status {
    padding-left: 25px;
    line-height: 21px;
    text-align: left !important;
  }
}

@media screen and (max-width: 767.98px) {
  .initiative-status {
    padding-top: 20px;
  }
}

@media screen and (max-width: 991.98px) {
  #prossimoNavbar {
    box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
  }
}

.placeholder {
  font-weight: bold;
  color: magenta;
}

.key-value-table {
  th {
    text-align: right;
    padding-right: 5px;
    white-space: nowrap;
    vertical-align: top;
  }

  & + p {
    margin-top: 24px;
  }

  td {
    vertical-align: top;
  }
}

#home-hero {
  .btn {
    width: 320px;
    position: relative;

    i {
      position: absolute;
      left: 18px;
      top: 16px;
    }
  }
}

.highlight {
  background: #e8fcf8;
  text-align: center;
  padding: 20px 10px 10px;
  margin: 10px 0 20px;

  h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  p {
    font-size: 20px;
  }
}

#donate-via-paypal {
  background: #e8fcf8;
  padding: 10px;

  h2 {
    text-align: center;
  }
  #paypal-button-container .paypal-buttons {
    margin: 20px auto;
    display: block;
  }
}

#copyright-line {
  background-color: #292c37;
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $brand_mint;
    }
  }
}

.back-to-top-btn {
  &:hover {
    .btn-scroll-top {
      background-color: $brand_mint !important;
      & > .btn-scroll-top-icon {
        color: $brand_dark_blue !important;
      }
    }
  }
}

label.checkbox {
  input[type="checkbox"] + span {
    margin-left: 10px;
  }
}

@media screen and (max-width: 525px) {
  #see-if-organization-matches {
    white-space: normal !important;
  }
}

.navbar-floating {
  z-index: 1030;
}
