@import "_variables";
@import "_theme-overrides";
@import "newsletter";
@import "page";
@import "post";

body {
  color: $primary_color !important;
}

#footer-logo {
  max-width: 80%;
}

.btn-large {
  font-size: 18px;
}

.logo-container {
  width: 200px;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.text-primary-knockout {
  color: $brand_mint;
  background: $brand_dark_blue;
  padding: 5px;
  transform: rotate(-1deg);
  display: inline-block;
}

.initiative_list_item {
  .initiative-status {
    text-align: center;
  }
  &__meta {
    .initiative-status {
      padding-top: 20px;
    }
  }

  &__blogLanding {
    margin-bottom: 20px;
  }
}

.initiative-description {
  ol {
    padding-left: 17px;
  }
}
