@import "_variables";

.tpl-page {
  .cs-page-wrapper {
    margin-top: 100px;
  }

  h1 {
    text-align: center;
    color: $primary_color;
  }
}

.footnotes {
  padding-top: 10px;

  hr {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 17px;
  }
}

.initiative-funders {
  .funder-logos {
    justify-items: start;
    gap: 10px;

    .funder img {
      max-height: 60px;
    }
  }
}

.funder-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  align-items: center;
  justify-items: center;

  .funder {
    flex-basis: calc(33% - 6.67px);

    #funders-home & {
      margin-bottom: 0;
    }

    img {
      max-height: 44px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.no-br {
  white-space: nowrap;
}
@media screen and (min-width: 992px) {
  .pt-lg-55 {
    padding-top: 5rem !important;
  }
}