@import "_variables";

.tpl-page {
  .cs-page-wrapper {
    margin-top: 100px;
  }

  h1 {
    text-align: center;
    color: $primary_color;
  }
}

.footnotes {
  padding-top: 10px;

  hr {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 17px;
  }
}

.funder-logos {
  display: flex;

  .funder {
    margin-bottom: 40px;
    margin-right: 40px;

    #funders-home & {
      margin-bottom: 0;
    }

    img {
      max-height: 100px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
