.tpl-post {
  .cs-page-wrapper {
    margin-top: 100px;
  }

  h1 {
    text-align: center;
    color: $primary_color;
  }
}

.tpl-post, .tpl-page {
  .slice,.page-content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px)
{
    .pic-quote-right
    {
        float: right !important;
        max-width: 33.33333%;
        margin-left: 25px;
        flex: 0 0 33.33333%;
    }
}

.mw-240px {
  max-width: 240px;
}