.tpl-post {
  .cs-page-wrapper {
    margin-top: 100px;
  }




  h1 {
    text-align: center;
    color: $primary_color;
  }
}


.tpl-post, .tpl-page {
  .slice,.page-content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}