@import "_variables";

.tpl-post {
  .cs-page-wrapper {
    margin-top: 100px;
  }

  h1 {
    text-align: center;
    color: $primary_color;
  }
}

.tpl-post, .tpl-page {
  .slice,.page-content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px)
{
    .pic-quote-right
    {
        float: right !important;
        max-width: 33.33333%;
        margin-left: 25px;
        flex: 0 0 33.33333%;
    }
}

.mw-240px {
  max-width: 240px;
}


.post-footer {
  background-color: $brand_mint;
  color: $brand_dark_blue;
  padding: 1.5rem;
  margin-top: 2rem;
}

.post-footer a {
  text-decoration-color: #fff !important;
  text-underline-offset: 3px;
  // color: #fff !important;
}
.post-footer a:hover {
  color: #fff !important;
}

.post-footer h6 {
  font-size: 20px;
  color: $brand_dark_blue;
  line-height: 1;
  font-weight: bold;
  margin-top: 0;
}


.post-footer p:last-child {
  margin-bottom: 0;
}

.tectonics-readout-name-container {
  display: grid;
  grid-template-rows: repeat(20, auto); /* This number is very specific to 39 names, adjust as needed */
  grid-auto-flow: column;
  gap: 10px;
}

@media (min-width: 767.98px) {
  .tectonics-readout-name-container {
    grid-template-rows: repeat(13, auto); /* This number is very specific to 39 names, adjust as needed */
  }
}