.tpl-post {
  .cs-page-wrapper {
    margin-top: 100px;
  }
  h1 {
    text-align: center;
    color: $primary_color;
  }
}



@media (min-width: 768px)
{
    .pic-quote-right
    {
        float: right !important;

        max-width: 33.33333%;
        margin-left: 25px;

        flex: 0 0 33.33333%;
    }
}


.mw-240px {
  max-width: 240px;
}
