<!DOCTYPE html>
<html class="tpl-post">
  {{ partial "head.html" . }} {{ partial "header.html" . }}
  <main>
    {{ if .Site.Params.site_banner_enabled }}
      {{ if .Site.Params.site_banner_text }}
        <div id="site-banner">
            <a href="{{ .Site.Params.site_banner_href }}">{{ .Site.Params.site_banner_text }} →</a>
        </div>
      {{ end }}
    {{ end }}
    <div class="container-fluid pb-6">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          {{ partial "hero.html" . }}
          <div class="page-content">{{ block "main" . }}</div>
          {{ end }}
        </div>
      </div>
    </div>
  </main>
  {{ partial "footer.html" . }}
</html>
