<!DOCTYPE html>
<html class="tpl-page">
  {{ partial "head.html" . }} {{ partial "header.html" . }}
  {{ if .Site.Params.site_banner_enabled }}
    {{ if .Site.Params.site_banner_text }}
    <div id="site-banner">
        <a href="{{ .Site.Params.site_banner_href }}">{{ .Site.Params.site_banner_text }} →</a>
    </div>
  {{ end }}
{{ end }}
  <div class="container-fluid pb-6">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {{ if not .Params.nohero }}{{ partial "hero.html" . }}{{ end }} {{ if eq .File.Ext "md" }}{{ partial "md-top-context.html" . }}{{ end }} <div class="page-content">{{ block "main"
        . }}</div>{{ end }} {{ if eq .File.Ext "md" }}{{ partial "md-bot-context.html" . }}{{ end }}
      </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
</html>
