<h3 class="h6 mb-2 pb-1 text-uppercase text-light">Sign up for the ISRG newsletter</h3>

<div id="mc_embed_signup">
  <form
    action="https://letsencrypt.us14.list-manage.com/subscribe/post?u=dc00f5bdab7179027a494d4e8&amp;id=07ba741c58"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
    novalidate
  >
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span> </label>
        <input type="email" value="" name="EMAIL" class="required email mt-2" id="mce-EMAIL" />
      </div>
      <div class="mc-field-group input-group">
        <fieldset class="mc_fieldset PRIVACYPOL mc-field-group" name="PRIVACYPOL">
          <label>Privacy Policy <span class="asterisk">*</span> </label>
          <ul>
            <li>
              <input type="radio" value="I agree to ISRG handling my info as stated in the policy above." name="PRIVACYPOL" id="mce-PRIVACYPOL-0" /><label
                for="mce-PRIVACYPOL-0"
                class="PRIVACYPOL"
                >I agree to ISRG handling my info as stated in the
                <a href="https://abetterinternet.org/privacy-policy" target="_blank">privacy policy</a>.</label
              >
            </li>
            <li>
              <input
                type="radio"
                value="No I do not agree to ISRG handling my info as stated in the policy above (you will not be subscribed to this list)."
                name="PRIVACYPOL"
                id="mce-PRIVACYPOL-1"
                class="PRIVACYPOL"
              /><label for="mce-PRIVACYPOL-1"
                >No I do not agree to ISRG handling my info as stated in the policy above (you will not be subscribed to this list).</label
              >
            </li>
          </ul>
        </fieldset>
      </div>
      <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
        <div class="content__gdpr">
          <p>Please confirm how you would like to hear from ISRG:</p>
          <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
            <label class="checkbox subfield" for="gdpr_25499"
              ><input type="checkbox" id="gdpr_25499" name="gdpr[25499]" value="Y" class="av-checkbox gdpr" /><span>Email</span>
            </label>
          </fieldset>
          <p class="font-small mt-2">
            You can unsubscribe at any time by clicking the link in the footer of our emails. We use Mailchimp as our marketing platform. By clicking below to
            subscribe, you acknowledge that your information will be transferred to Mailchimp for processing.
            <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a>
          </p>
        </div>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display: none"></div>
        <div class="response" id="mce-success-response" style="display: none"></div>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px" aria-hidden="true">
        <input type="text" name="b_dc00f5bdab7179027a494d4e8_07ba741c58" tabindex="-1" value="" />
      </div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-mint button" /></div>
    </div>
  </form>
</div>
<script type="text/javascript" src="/js/mc-validate.js"></script>
<script type="text/javascript">
  (function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = "EMAIL";
    ftypes[0] = "email";
    fnames[2] = "MMERGE2";
    ftypes[2] = "dropdown";
    fnames[1] = "PRIVACYPOL";
    ftypes[1] = "radio";
    fnames[3] = "MMERGE3";
    ftypes[3] = "text";
    fnames[4] = "MMERGE4";
    ftypes[4] = "text";
    fnames[5] = "MMERGE5";
    ftypes[5] = "text";
    fnames[6] = "MMERGE6";
    ftypes[6] = "text";
    fnames[7] = "MMERGE7";
    ftypes[7] = "text";
    fnames[8] = "MMERGE8";
    ftypes[8] = "text";
    fnames[9] = "MMERGE9";
    ftypes[9] = "number";
    fnames[10] = "MMERGE10";
    ftypes[10] = "text";
  })(jQuery);
  var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->
