<h3 class="h6 mb-2 pb-1 text-uppercase text-light">Sign up for the ISRG newsletter</h3>
<form
  action="https://letsencrypt.us14.list-manage.com/subscribe/post?u=dc00f5bdab7179027a494d4e8&amp;id=07ba741c58"
  method="post"
  id="mc-embedded-subscribe-form"
  name="mc-embedded-subscribe-form"
  class="validate"
  target="_blank"
  novalidate
>
  <div class="input-group-overlay input-group-light form-group mb-2 pb-1">
    <input type="email" value="" name="email" class="email form-control appended-form-control" id="mce-EMAIL" placeholder="Email address" required />
    <div id="mergeRow-gdpr" class="gpdr-notes mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
      <div class="content__gdpr">
        <p>
          Please confirm how you would like to hear from ISRG:
          <label class="checkbox subfield" for="gdpr_25499"
            ><input type="checkbox" id="gdpr_25499" name="gdpr[25499]" value="Y" class="av-checkbox gdpr" /><span>Email</span>
          </label>
        </p>

        <p class="font-small">
          You can unsubscribe at any time by clicking the link in the footer of our emails.
          <a href="https://www.abetterinternet.org/privacy-policy/" target="_blank">Click here for information about our privacy practices</a>.
        </p>
      </div>
      <div class="content__gdprLegal">
        <p class="font-small">
          We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for
          processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a>
        </p>
      </div>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px" aria-hidden="true">
      <input type="text" name="b_dc00f5bdab7179027a494d4e8_07ba741c58" tabindex="-1" value="" />
    </div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-mint mt-2" /></div>
  </div>
</form>

<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css" />
<style type="text/css">
  #mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
  }
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<style type="text/css">
  #mc-embedded-subscribe-form input[type="checkbox"] {
    display: inline;
    width: auto;
    margin-right: 10px;
  }
  #mergeRow-gdpr {
    margin-top: 20px;
  }
  #mergeRow-gdpr fieldset label {
    font-weight: normal;
  }
  #mc-embedded-subscribe-form .mc_fieldset {
    border: none;
    min-height: 0px;
    padding-bottom: 0px;
  }
</style>
