    </main>

    <footer class="cs-footer mt-5 pt-sm-5 pt-4 bg-dark">
      <div class="container py-3">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 order-lg-1 order-1 mb-lg-0 mb-4">
            <a class="d-inline-block mb-4" href="https://abetterinternet.org" target="_blank">
              <img src="/images/Prossimo Brand Assets/ISRG-Logo-White.png" id="footer-logo" alt="Prossimo logo">
            </a>
            <p class="mb-sm-4 mb-3 pb-lg-3 fs-xs text-light opacity-60">{{ .Site.Params.address_line_1}}<br />{{ .Site.Params.address_line_2}}</p>
            <p class="mb-sm-4 mb-3 pb-lg-3 fs-xs text-light opacity-60">
              <p>{{ i18n "footer_mailing" }}</p>
              <span itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">PO Box 18666</span>,
                <span itemprop="addressLocality">Minneapolis</span>,
                <span itemprop="addressRegion">MN</span>
                <span itemprop="postalCode">55418-0666</span>,
                <span itemprop="addressCountry">USA</span>
              </span>
            </p>
          </div>
          <div class="col-lg-2 offset-lg-2 col-sm-12 order-lg-2 order-sm-4 order-1 mb-lg-0 mb-4">
            <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Resources</h3>
            <ul class="nav nav- light flex-lg-column flex-sm-row flex-column">
              <li class="nav-item mb-2">
                <a class="nav-link me-lg-0 me-sm-4 p-0 fw-normal" href="https://www.abetterinternet.org/privacy-policy" target="_isrg-privacy">Privacy Policy <i class="ci-external-link mt-n1 ms-2"></i></a>
              </li>
              <li class="nav-item mb-2">
                <a class="nav-link me-lg-0 me-sm-4 p-0 fw-normal" href="https://www.abetterinternet.org/trademarks" target="_isrg-trademarks">Trademark Policy <i class="ci-external-link mt-n1 ms-2"></i></a>
              </li>
            </ul>
          </div>

          <div class="col-lg-5 offset-lg-0 col-md-8 col-sm-6 order-lg-5 order-sm-2 order-4 mb-sm-0 mb-4">
            {{ partial "nav/newsletter.html" . }}
          </div>
        </div>
      </div>
      <div id="copyright-line">
        <div class="container py-2">
          <div class="d-flex align-items-sm-center justify-content-between py-1">
            <div class="fs-xs text-light">
              <a href="https://abetterinternet.org" target="_blank">{{ .Site.Params.copyrighthtml | safeHTML}}</a>
            </div>
            <div class="d-flex align-items-sm-center">
              <a class="d-flex justify-content-center align-items-center back-to-top-btn" href="#top" data-scroll="">
                <span class="d-sm-inline-block d-none text-light fs-sm me-3 mb-1 align-vertical">Back to top</span>
                <span class="btn-scroll-top position-static rounded show">
                  <i class="btn-scroll-top-icon ci-angle-up"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="/createx-theme/vendor/jquery/dist/jquery.slim.min.js"></script>
    <script src="/createx-theme/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/createx-theme/vendor/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="/createx-theme/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="/createx-theme/js/theme.min.js"></script>
    <script src="/js/site.js"></script>
</body>
