<body class="overflow-x-hidden">
  <!-- Page wrapper for sticky footer -->
  <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
  <main class="cs-page-wrapper">
    <!-- Navbar -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <header
      class="
        cs-header
        navbar navbar-expand-lg navbar-light navbar-sticky navbar-floating
      "
    >
      <div class="container px-0 px-xl-3">
        <a
          href="/"
          class="navbar-brand order-lg-1 me-lg-5 me-0 pr-lg-2"
        >
          <img
            src="/images/Prossimo Brand Assets/Prossimo Horizontal Full Color.svg"
            alt="Prossimo Logo"
            width="130"
          />
        </a>
        <div class="d-flex align-items-center order-lg-3">
          <a
            href="/become-a-funder"
            class="btn btn-mint d-sm-inline-block d-none ms-4"
          >
          Support this Work
          </a>
          <button
            class="navbar-toggler ms-1 me-n3"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#prossimoNavbar"
            aria-expanded="false"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse order-lg-2" id="prossimoNavbar">
          <ul class="navbar-nav me-auto text-nowrap">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Initiatives</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/initiative/rustls">TLS (Rustls)</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/initiative/linux-kernel/">Linux Kernel</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/initiative/reverse-proxy">Reverse Proxy (River)</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/initiative/av1/">AV1 (Rav1d)</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/initiative/sudo-su">sudo and su</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/initiative/ntp/">NTP (ntpd-rs)</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/initiative/mod_tls">Apache httpd (mod_tls)</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/initiative/dns/">DNS (Hickory)</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/initiative/curl">curl</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/initiative/tools">Tools</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/about"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >About</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/about">Prossimo</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/docs/memory-safety">What is Memory Safety?</a>
                </li>
                <li>
                  <a class="dropdown-item" href="https://www.abetterinternet.org/" target="_isrg">Internet Security Research Group <i class="ci-external-link mt-n1 ms-2"></i></a>
                </li>

              </ul>
            </li>
            <li class="nav-item d-sm-none d-block">
              <a
                href="/become-a-funder"
                class="btn btn-sm btn-mint m-3"
              >
              Support this Work
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
