{{ if .Site.Params.site_banner_text }}
  <div id="site-banner">
      <a href="{{ .Site.Params.site_banner_href }}">{{ .Site.Params.site_banner_text }} →</a>
  </div>
{{ end }}
<section class="slice slice-isrg bg-gradient-secondary" data-separator="rounded-left" data-separator-orientation="bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 py-4">
        {{if ne .Params.hide_h1 true}}
        <h1 class="display-4">{{ .Params.Title }}</h1>
        {{ end }} {{ if .Params.subtitle }}
        <h5 class="mb-4">{{ .Params.Subtitle }}</h5>
        {{ end }}
      </div>
    </div>
  </div>
</section>
