<a href="#" class="social-btn me-1 mb-2 mt-md-0 mt-sm-1">
  <i class="cxi-facebook"></i>
</a>
<a href="#" class="social-btn me-1 mb-2 mt-md-0 mt-sm-1">
  <i class="cxi-twitter"></i>
</a>
<a href="#" class="social-btn me-1 mb-2 mt-md-0 mt-sm-1">
  <i class="cxi-youtube"></i>
</a>
<a href="#" class="social-btn me-1 mb-2 mt-md-0 mt-sm-1">
  <i class="cxi-telegram"></i>
</a>
<a href="#" class="social-btn me-1 mb-2 mt-md-0 mt-sm-1">
  <i class="cxi-instagram"></i>
</a>
<a href="#" class="social-btn mb-1 mt-md-0 mt-sm-1">
  <i class="cxi-linkedin"></i>
</a>
