<a href="#" class="social-btn me-1 mb-2 mt-md-0 mt-sm-1">
  <i class="ci-facebook"></i>
</a>
<a href="#" class="social-btn me-1 mb-2 mt-md-0 mt-sm-1">
  <i class="ci-twitter"></i>
</a>
<a href="#" class="social-btn me-1 mb-2 mt-md-0 mt-sm-1">
  <i class="ci-youtube"></i>
</a>
<a href="#" class="social-btn me-1 mb-2 mt-md-0 mt-sm-1">
  <i class="ci-telegram"></i>
</a>
<a href="#" class="social-btn me-1 mb-2 mt-md-0 mt-sm-1">
  <i class="ci-instagram"></i>
</a>
<a href="#" class="social-btn mb-1 mt-md-0 mt-sm-1">
  <i class="ci-linkedin"></i>
</a>
