<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
    {{ partial "header.html" . }}

      <section
        id="home-hero"
        class="position-relative pb-1 pt-6 pb-5 pt-sm-6 pt-md-6 pt-lg-6"
        style="
          background-color: #dce0e9;
        "
      >
        <div
          class="container pr-lg-0"
        >
          <div class="row no-gutters">
            <div class="col-md-5 d-flex mt-xl-n5 pt-md-0 pt-xl-5 justify-content-center justify-content-md-start text-md-start text-center" >
              <div class="pb-3 pt-md-3 pb-md-0" style="max-width: 460px">
                <h1 class="display-5 mb-0">
                  <span class="text-primary-knockout">Memory safety</span> <span class="no-br">for the</span> Internet's <span class="no-br">most critical</span> infrastructure
                </h1>
              </div>
            </div>
            <div class="col-md-6 offset-md-1 align-self-center d-flex align-items-center justify-content-md-end justify-content-lg-end justify-content-center text-md-end text-center " >
              <div class="pb-3 py-md-3" style="max-width: 460px">
                  <a href="/docs/memory-safety" class="mb-4 btn btn-large btn-outline-primary"><i class="ci-info me-2"></i> What is Memory Safety?</a>
                  <a href="/about" class="btn btn-large btn-outline-primary"><i class="ci-chat me-2"></i> How We Work</a>
              </div>
            </div>
          </div>

        </div>
      </section>

      {{ if .Site.Params.site_banner_text }}
        <div id="site-banner">
            <a href="{{ .Site.Params.site_banner_href }}">{{ .Site.Params.site_banner_text }} →</a>
        </div>
      {{ end }}

      <div class="container mt-5">
        <div class="row">
          <section class="col-md-7 pr-2 home-initiatives" id="initiatives">
            <div class="pr-md-5">
            <h2 class="home-eyebrow"><span>Initiatives</span></h2>
            {{ partial "home/initiative_list_item.html" (dict "title" "TLS (Rustls)" "url" "/initiative/rustls" "image" "/images/rustls.png" "description" "Let's get the Rustls TLS library ready to replace OpenSSL in as many projects as possible." "backgroundColor" "#ffffff") }}
            {{ partial "home/initiative_list_item.html" (dict "title" "Linux Kernel" "url" "/initiative/linux-kernel" "image" "/images/tux.svg" "description" "Let's make it possible to write memory safe drivers for the Linux kernel." "backgroundColor" "#ffffff") }}
            {{ partial "home/initiative_list_item.html" (dict "title" "AV1 (rav1d)" "url" "/initiative/av1" "image" "/images/av1.png" "description" "Let's create a memory safe AV1 decoder that delivers great performance." "backgroundColor" "#ffffff") }}
            {{ partial "home/initiative_list_item.html" (dict "title" "sudo/su (sudo-rs)" "url" "/initiative/sudo-su" "image" "/images/sudo-su.png" "description" "Let's make the utilities that mediate privileges safer." "backgroundColor" "#ffffff") }}
            {{ partial "home/initiative_list_item.html" (dict "title" "NTP (ntpd-rs)" "url" "/initiative/ntp" "image" "/images/ntp.png" "description" "Let's create a memory safe NTP implementation." "backgroundColor" "#ffffff") }}
            {{ partial "home/initiative_list_item.html" (dict "title" "Apache httpd (mod_tls)" "logo_link" "https://httpd.apache.org" "url" "/initiative/mod_tls" "image" "/images/httpd.svg" "description" "Let's make it possible to use memory safe TLS networking in Apache httpd." "backgroundColor" "#ffffff") }}
            {{ partial "home/initiative_list_item.html" (dict "title" "DNS (Hickory)" "url" "/initiative/dns" "image" "/images/blog/Hickory-DNS.png" "description" "Let's create a memory safe, high performance, fully recursive DNS resolver." "backgroundColor" "#ffffff") }}
            {{ partial "home/initiative_list_item.html" (dict "title" "curl" "url" "/initiative/curl" "image" "/images/curl.svg" "description" "Let's make TLS and HTTP networking code in curl memory safe." "backgroundColor" "#ffffff") }}
            {{ partial "home/initiative_list_item.html" (dict "title" "Tools" "url" "/initiative/tools" "image" "/images/tools.png" "description" "Let's improve the tools we use to bring memory safe software to the world." "backgroundColor" "#ffffff") }}
          </div>
          </section>

          <section class="col-md-5" id="home-col-2">
            <div class="pl-md-2">
              <div id="funders-home" class="mb-6">
                <h2 class="home-eyebrow"><a href="/become-a-funder">Funders</a></h2>
                <div class="funder-logos">
                  <div class="funder">
                    <img src="/images/sponsors/small/google-logo.png" alt="Google" />
                  </div>
                  <div class="funder">
                    <img src="/images/sponsors/small/aws-logo.png" alt="Amazon Web Services" />
                  </div>
                  <div class="funder">
                    <img src="/images/sponsors/small/flyio-logo.png" alt="Fly.io" />
                  </div>
                  <div class="funder">
                    <img src="/images/sponsors/small/futurewei-logo.png" alt="Futurewei" />
                  </div>
                  <div class="funder">
                    <img src="/images/sponsors/small/cisco-logo.png" alt="Cisco" />
                  </div>
                  <div class="funder">
                    <img src="/images/sponsors/small/acton-family-giving-logo.png" alt="Acton Family Giving" />
                  </div>
                  <div class="funder">
                    <img src="/images/sponsors/small/sovereign-tech-fund-logo.png" alt="Sovereign Tech Fund" />
                  </div>
                  <div class="funder">
                    <img src="/images/sponsors/small/openssf-logo.png" alt="Open Source Security Foundation" />
                  </div>
                  <div class="funder">
                    <img src="/images/sponsors/small/CNP-Logo.svg" alt="Craig Newmark Philanthrophies" />
                  </div>
                  <div class="funder">
                    <img src="/images/sponsors/small/chainguard-logo.svg" alt="Chainguard" />
                  </div>
                </div>
              </div>
              <div id="blog">
                <h2 class="home-eyebrow"><a href="/blog">From our blog</a></h2>
                {{ $posts := where .Site.RegularPages "Type" "in" (slice "blog") | first 5 }}
                  {{ range $posts }}
                    {{ partial "blog/blog_list_item.html" .}}
                  {{ end }}
              </div>
            </div>
          </section>
        </div>
      </div>

      <section class="container my-5">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h2 class="h1 text-center">Get Involved</h2>

            <div class="accordion" id="accordionQuestions">

              <div class="accordion-item">
                <h3 class="accordion-header" id="headingOne">
                  <button class="accordion-button border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Donate
                  </button>
                </h3>
                <div class="accordion-collapse border-0 collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionQuestions">
                  <div class="accordion-body">
                    <p>Being part of ambitious work like Prossimo is easier than you might think: 100% of our funding comes from charitable donations from companies and people like you. </p>
                    <p>When you support Prossimo, you’re helping to create a future for the Web that is more memory safe and more secure - and <em>that</em> benefits everyone using it!</p>
                    <a class="btn btn-mint" href="https://abetterinternet.org/donate">Donate</a>
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h3 class="accordion-header" id="headingTwo">
                  <button class="accordion-button border-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-controls="collapseTwo">
                    In your Workplace
                  </button>
                </h3>
                <div class="accordion-collapse border-0 collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionQuestions">
                  <div class="accordion-body">
                    <p>Bring greater security to your organization by advocating for memory safe code in your organization!</p>
                    <p>Many organizations match donations to nonprofits made by employees. Check if your organization has a matching program and double your impact!</p>
                    <a class="btn btn-mint" id="see-if-organization-matches" href="/sponsor#double-donation">See if your organization has a matching program</a>
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h3 class="accordion-header" id="headingThree">
                  <button class="accordion-button border-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-controls="collapseThree">
                    Become a Funder
                  </button>
                </h3>
                <div class="accordion-collapse border-0 collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionQuestions">
                  <div class="accordion-body">
                    <p>Prossimo works to connect maintainers behind the Internet's most critical pieces of software with the people and organizations who want to see Internet security move forward by adopting memory safe languages. Here's the simple framework of how Prossimo works: </p>

                    <ol>
                      <li>Identify an initiative that's a good fit for Prossimo</li>
                      <li>Seek funding for the initiative </li>
                      <li>Commence the initiative</li>
                    </ol>

                    <p>By funding, you can support this important work! </p>

                    <p>Contact us to learn about upcoming Prossimo initiatives: <a href="mailto:donate@abetterinternet.org">donate@abetterinternet.org</a></p>

                    <a class="btn btn-mint" href="/sponsor">Support this Work</a>
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h3 class="accordion-header" id="headingFour">
                  <button class="accordion-button border-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-controls="collapseFour">
                    Other Ways to Give
                  </button>
                </h3>
                <div class="accordion-collapse border-0 collapse" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionQuestions">
                  <div class="accordion-body">
                    <strong>Donations of Stock</strong><br />
                    <p>Appreciated securities or mutual fund shares that you’ve owned for more than one year can be excellent charitable gifts.</p>
                    {{partial "brokerage_info.html" . }}
                    <p>Please let us know if you are transferring securities at <a href="mailto:donate@abetterinternet.org">donate@abetterinternet.org</a>. You may also want to email the letter of authorization from your broker.</p>

                    <strong>Gifts of Cryptocurrency</strong><br />
                    <p>We accept BTC, BCH, ETH, DOGE, WBTC, and all other currencies supported by BitPay. We are able to accept donations equivalent to $1,000 USD or greater. Please email <a href="mailto:donate@abetterinternet.org">donate@abetterinternet.org</a> for invoicing.</p>


                    <strong>Donor Advised Funds</strong><br />
                    <p>Recommend a donation to Internet Security Research Group (our parent org) from your gift fund. 100% of your donation will go to support a secure and privacy-respecting Internet.</p>

                  </div>
                </div>
              </div>




            </div>
          </div>
        </div>
      </section>


  {{ partial "footer.html" . }}
</html>
