<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
    {{ partial "header.html" . }}
      <section
        id="home-hero"
        class="position-relative mb-3 pb-1 pt-6 pb-3 pt-sm-5"
        style="
          background-image: url(assets/img/intro/hero/bg.jpg);
          background-color: #dce0e9;
        "
      >
        <div
          class="container-fluid pr-lg-0"
        >
          <div class="row no-gutters">
            <div
              class="
                col-md-5
                align-self-center
                d-flex
                justify-content-lg-end justify-content-center
                mt-xl-n5
                pt-lg-6
                text-md-left text-center
              "
            >
              <div class="pb-3 pt-md-3 pb-md-3" style="max-width: 460px">
                <h1 class="display-4 mb-lg-5">
                  <span class="text-primary-knockout">Memory safety</span> for the Internet's most critical infrastructure
                </h1>
              </div>
            </div>
            <div
              class="
                col-md-6
                offset-md-1
                align-self-center
                d-flex
                align-items-center
                justify-content-lg-center justify-content-center
                text-md-left text-center
              "
            >
              <div class="pb-3 pt-md-5 pb-md-3 text-center" style="max-width: 460px">
                  <a href="/docs/memory-safety" class="mb-4 btn btn-large btn-outline-primary"><i class="cxi-info mr-2"></i> What is Memory Safety?</a>
                  <a href="/about" class="btn btn-large btn-outline-primary"><i class="cxi-chat mr-2"></i> How we work</a>
              </div>
            </div>
          </div>

        </div>
      </section>

      <section class="container py-lg-1 py-1" id="initiatives">
        <h2 class="h1 text-center">Initiatives</h2>
        {{ partial "home/initiative_list_item.html" (dict "title" "Linux Kernel" "project_status" "TK" "funding_status" "TK" "url" "/initiative/linux-kernel" "image" "/images/tux.svg" "description" "Let's make it possible to write memory-safe drivers for the Linux kernel." "backgroundColor" "#e8fcf8") }}
        {{ partial "home/initiative_list_item.html" (dict "title" "curl" "project_status" "TK" "funding_status" "TK" "url" "/initiative/curl" "image" "/images/curl.svg" "description" "Let's make TLS and HTTP networking code in curl memory-safe." "backgroundColor" "#e8fcf8") }}
        {{ partial "home/initiative_list_item.html" (dict "title" "Rustls" "project_status" "TK" "funding_status" "TK" "url" "/initiative/rustls" "image" "/images/rustls.png" "description" "Let's build an excellent memory-safe TLS library intended to replace OpenSSL in many projects." "backgroundColor" "#e8fcf8") }}
        {{ partial "home/initiative_list_item.html" (dict "title" "mod_tls" "project_status" "TK" "funding_status" "TK" "url" "/initiative/mod_tls" "image" "/images/httpd.svg" "description" "Let's make it possible to use memory safe TLS networking in Apache httpd." "backgroundColor" "#e8fcf8") }}
      </section>

      <section
        id="blog-promo"
        class="py-5 py-md-3 bg-secondary bg-no-repeat bg-size-cover"
        style="background-image: url(assets/img/intro/bg-shape.jpg)"
      >
        <div class="container py-3 pb-lg-0">
          <h2 class="h1 mb-3 pb-lg-2 text-center">Recent Updates</h2>
          <div class="row">
            <div class="col-md-8 offset-md-2">

                {{ $posts := where .Site.RegularPages "Type" "in" (slice "post") | first 3 }}
                {{ range $posts }}
                  {{ partial "blog/blog_list_item.html" .}}
                {{ end }}
            </div>

          </div>
          </div>
          <div class="font-size-lg font-weight-bold text-center">
            <a class="btn btn-primary" href="/blog">View the blog</a>
          </div>
        </div>
      </section>

      <section class="container my-5">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h2 class="h1 text-center">Get Involved</h2>

            <div class="accordion" id="accordionQuestions">
              <div class="card">
                <div class="card-header pt-0" id="questionsHeadingOne">
                  <h5 class="accordion-heading">
                    <a href="#questionsCollapseOne" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="questionsCollapseOne" class="">
                      <span class="accordion-indicator mt-n1"></span>
                      Donate
                    </a>
                  </h5>
                </div>
                <div class="collapse show" id="questionsCollapseOne" aria-labelledby="questionsHeadingOne" data-parent="#accordionQuestions" style="">
                  <div class="card-body">
                    <p>Being part of ambitious work like Prossimo is easier than you might think: 100% of our funding comes from charitable donations from companies and people like you. </p>
                    <p>When you support Prossimo, you’re helping to create a future for the Web that is more memory safe and more secure - and <i>that</i> benefits everyone using it!</p>
                    <a class="btn btn-mint" href="https://abetterinternet.org/donate">Donate</a>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="questionsHeadingTwo">
                  <h5 class="accordion-heading">
                    <a href="#questionsCollapseTwo" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="questionsHeadingTwo" class="collapsed">
                      <span class="accordion-indicator mt-n1"></span>
                      In your Workplace
                    </a>
                  </h5>
                </div>
                <div class="collapse" id="questionsCollapseTwo" aria-labelledby="questionsHeadingTwo" data-parent="#accordionQuestions">
                  <div class="card-body">
                    <p>Bring greater security to your organization by advocating for memory safe code in your organization!</p>
                    <p>Many organizations match donations to nonprofits made by employees. Check if your organization has a matching program and double your impact!</p>
                    <a class="btn btn-mint" href="https://doublethedonation.com/tips/matching-gift-search/">See if your organization has a matching program</a>
                  </div>
                </div>
              </div>

              <!-- Card -->
              <div class="card">
                <div class="card-header" id="questionsHeadingThree">
                  <h5 class="accordion-heading">
                    <a href="#questionsCollapseThree" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="questionsCollapseThree" class="collapsed">
                      <span class="accordion-indicator mt-n1"></span>
                      Corporate Sponsorship
                    </a>
                  </h5>
                </div>
                <div class="collapse" id="questionsCollapseThree" aria-labelledby="questionsHeadingThree" data-parent="#accordionQuestions">
                  <div class="card-body">
                    <p>Prossimo works to connect maintainers behind the Internet's most critical pieces of software with the people and organizations who want to see Internet security move forward by adopting memory safe languages. Here's the simple framework of how Prossimo works: </p>

                    <ol>
                      <li>Identify an initiative that's a good fit for Prossimo</li>
                      <li>Seek funding for the initiative </li>
                      <li>Commence the initiative</li>
                    </ol>

                    <p>Through corporate sponsorship, you can support this important work! </p>

                    <p>Contact us to learn about upcoming Prossimo initiatives: <a href="mailto:Sponsor@abetterinternet.org">Sponsor@abetterinternet.org</a></p>
                  </div>
                </div>
              </div>

              <!-- Card -->
              <div class="card">
                <div class="card-header" id="questionsHeadingFour">
                  <h5 class="accordion-heading">
                    <a href="#questionsCollapseFour" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="questionsCollapseFour" class="collapsed">
                      <span class="accordion-indicator mt-n1"></span>
                      Other Ways to Give
                    </a>
                  </h5>
                </div>
                <div class="collapse" id="questionsCollapseFour" aria-labelledby="questionsHeadingFour" data-parent="#accordionQuestions">
                  <div class="card-body">
                    <strong>Donations of Stock</strong><br />
                    <p>Appreciated securities or mutual fund shares that you’ve owned for more than one year are excellent charitable gifts.</p>
                    <p>
                      <table class="key-value-table">
                        <tr>
                          <th>Brokerage Firm:</td>
                          <td>Vanguard</td>
                        </tr>
                        <tr>
                          <th>Account Name:</td>
                          <td>Internet Security Research Group</td>
                        </tr>
                        <tr>
                          <th>ISRG Account #:</td>
                          <td>44865458</td>
                        </tr>
                        <tr>
                          <th>DTC #:</td>
                          <td>0062</td>
                        </tr>
                        <tr>
                          <th>Tax ID #:</td>
                          <td>46-3344200</td>
                        </tr>
                      </table>

                    </p>
                    <p>Please let us know if you are transferring securities at <a href="mailto:sponsor@abetterinternet.org">sponsor@abetterinternet.org</a>. You may also want to email the letter of authorization from your broker.</p>

                    <strong>Gifts of Cryptocurrency</strong><br />
                    <p>We accept BTC, BCH, ETH, DOGE, WBTC, and all other currencies supported by BitPay. We are able to accept donations equivalent to $1,000 USD or greater. Please email <a href="mailto:donate@abetterinternet.org">donate@abetterinternet.org</a> for invoicing.</p>


                    <strong>Donor Advised Funds</strong><br />
                    <p>Recommend a donation to Internet Security Research Group (our parent org) from your gift fund. Giving to strengthen the Internet is one of the most impactful ways to leave a legacy!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  {{ partial "footer.html" . }}
</html>
