<article class="initiative_list_item row no-gutters mb-sm-5 mb-grid-gutter rounded" style="background-color: {{.backgroundColor}}">
  <div class="col-md-6 pt-sm-5 pt-4 pb-lg-5 pb-4 pr-lg-0 pl-lg-5 px-4 text-md-left text-center align-self-center">
    <h3 class="h2 mb-3">{{.title}}</h3>
    <p class="pb-2 text-muted">{{.description}}</p>
    <div class="initiative_list_item__meta">
      <a href="{{.url}}" class="btn btn-outline-primary">View initiative</a>
      <div class="initiative-status">
        {{ if .project_status }}
        <div>Project Status: {{ .project_status }}</div>
        {{ end }} {{ if .funding_status }}
        <div>Funding Status: {{ .funding_status }}</div>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="col-md-6 d-flex align-items-center justify-content-center py-2">
    <div class="logo-container">
      <img src="{{.image}}" alt="Logo for {{.title}}" />
    </div>
  </div>
</article>
