<div class="d-flex align-items-center justify-content-lg-start justify-content-center mb-sm-5 mb-4 pb-lg-4 pb-2">
  <div class="media flex-sm-row flex-column align-items-center mb-0">
    <div class="display-4 me-sm-2 mb-sm-0 mb-2 text-dark">X</div>
    <div class="media-body pl-sm-1">
      <h2 class="mb-0 font-size-sm text-sm-start">Current <br />Initiatives</h2>
    </div>
  </div>
  <div class="mx-sm-4 px-3 px-md-1 px-lg-3 font-size-lg text-primary">&bull;</div>
  <div class="media flex-sm-row flex-column align-items-center">
    <div class="display-4 me-sm-2 mb-sm-0 mb-2 text-dark">XX+</div>
    <div class="media-body pl-sm-1">
      <h2 class="mb-0 font-size-sm text-sm-start">Contributors</h2>
    </div>
  </div>
</div>
